
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="__STATIC__/css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->

    <style>
        .page-content{
            height:750px;
        }
    </style>
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!--左侧导航-->
    {include file="common/left" /}
    <!--左侧导航结尾-->

    <!-- PAGE CONTENT -->
    <div class="page-content">

      <!--头部导航-->
        {include file="common/top" /}
      <!--头部导航结尾  -->
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">权限管理</a></li>
            <li class="active">规则列表</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <!-- START RESPONSIVE TABLES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h3 class="panel-title">规则列表</h3>
                        </div>

                        <div class="panel-body panel-body-table">

                            <div class="table-responsive">
                                {foreach $arr as $item}
                                <table class="table table-bordered table-striped table-actions">
                                    <tr>
                                        <th>
                                            <h4><strong>{$item.title}</strong></h4>
                                            [<a href="{:url('Rbac/addRule',['id'=>$item.id])}">添加规则</a>]
                                            [<a href="{:url('Rbac/editeRule',['id'=>$item.id])}">修改</a>]
                                            [<a href="javascript:void(0);" data-id="{$item.id}" data-k="controller" class="delOne">删除</a>]
                                        </th>
                                    </tr>
                                    {foreach $item['child'] as $childItem}
                                    <tr>
                                        <td>
                                            <strong>{$childItem.title}</strong>
                                            [<a href="{:url('Rbac/editeRule',['id'=>$childItem.id])}">修改</a>]
                                            [<a href="javascript:void(0);" data-id="{$childItem.id}" data-k="action" class="delOne">删除</a>]
                                        </td>
                                    </tr>
                                    {/foreach}

                                </table>
                                {/foreach}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- END RESPONSIVE TABLES -->

            <!-- END PAGE CONTENT WRAPPER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="__STATIC__/audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="__STATIC__/audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="__STATIC__/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='__STATIC__/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="__STATIC__/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="__STATIC__/js/demo_tables.js"></script>
<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<script type="text/javascript" src="__STATIC__/js/settings.js"></script>

<script type="text/javascript" src="__STATIC__/js/plugins.js"></script>
<script type="text/javascript" src="__STATIC__/js/actions.js"></script>
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->

<script>
$(".delOne").on('click',function(){
    var id=$(this).data("id");
    var kind=$(this).data("k");
    var that=$(this);//保留this指向
    var result=confirm("确定要删除吗？");
    if(result){
        $.ajax({
            url:"{:url('Rbac/delRule')}",
            type:"post",
            data:{
                'id':id
            },
            dataType:'json',
            success:function(res){
                if(res.status==1){
                    alert(res.msg);
                    if(kind=="controller"){
                        that.parent().parent().parent().remove();
                    }else if(kind=="action"){
                        that.parent().parent().remove();
                    }
                }else{
                    alert(res.msg);
                }
            }
        });
    }
})

</script>
</body>
</html>






